{% extends 'padre/padre.html' %}

{% block title %} TZReport RE PO 001{% endblock %}

{% block content %}

<div class="alert alert-secondary display-3 text-center container mt-5">Agregar registro de RE PO 013</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
        <a class="btn btn-success" href="{% url 'operador013_agregar' %}" style="font-size: 10px;">Nuevo Operador</a>
        </div>
        <div class="col">
        <a class="btn btn-success" href="{% url 'tct_agregar' %}" style="font-size: 10px;">Nueva TCT</a>
        </div>
        <div class="col">
        <a class="btn btn-success" href="{% url 'tlp_agregar' %}" style="font-size: 10px;">Nuevo TLP</a>
        </div>
    </div>
</div>


<div class="container mt-5">
<form action="" method="post">
    <table class="table">
        {{form}}
        {% csrf_token %}
        <tr>
            <td colspan ="2">
                <input type="submit" class="btn btn-success btn-block" value="Guardar">
            </td>
        </tr>
    </table>
</form>
<div>


{% endblock %}