{% extends 'padre/padre.html' %}

{% block title %} TZReport{% endblock %}

{% block content %}
<div class="alert alert-secondary display-6 text-center container mt-5">Búsqueda por fecha de RE PO 013</div>
<div class="container mt-5 text-center">
    <p>{{total}} resultado/s para búsqueda de la fecha {{query}} en RE PO 013</p>
</div>
{% if repos013 %}
<div class="table-responsive container mt-5">
    <table class="table table-hover table-bordered table-sm">
        <thead class="table-light align-middle">
            <tr>
                <th>________________________________ Fecha de registro ________________________________</th>
                <th>________________________________ TLC ________________________________</th>
                <th>________________________________ Operador ________________________________</th>
                <th>________________________________ TCT ________________________________</th>
                <th>________________________________ TLP ________________________________</th>
                <th>________________________________ Litros de salida tlp ________________________________</th>
                <th>________________________________ Saldo ________________________________</th>
                <th>________________________________ Tipo de leche ________________________________</th>
                <th>________________________________ Observación ________________________________</th>
                <th>________________________________ Fecha de pasteurización ________________________________</th>
                <th>________________________________ Hora de inicio ________________________________</th>
                <th>________________________________ Hora de termino ________________________________</th>
                <th>________________________________ Tº de salida pasteurización ________________________________</th>               
                <th>________________________________ Comentario ________________________________</th>
                <th>________________________________ Usuario del registro ________________________________</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for repo013 in repos013 %}
            <tr>
                <td>{{repo013.fecha_registro}}</td>
                <td>{{repo013.tlc}}</td>
                <td>{{repo013.operador}}</td>
                <td>{{repo013.tct}}</td>
                <td>
                    <ul>
                        {% for tlp in repo013.tlp.all %}
                            <li>{{tlp.nombre}}</li>
                        {% endfor %}
                    <ul>
                </td>
                <td>{{repo013.litros_salida_tlp}}</td>
                <td>{{repo013.saldo}}</td>
                <td>{{repo013.tipo_leche}}</td>
                <td>{{repo013.observacion}}</td>
                <td>{{repo013.fecha_pasteurizacion}}</td>
                <td>{{repo013.hora_inicio}}</td>
                <td>{{repo013.hora_termino}}</td>
                <td>{{repo013.temperatura_salida_pasteurizador}}</td>
                <td>{{repo013.comentario}}</td>
                <td>{{repo013.usuario_del_registro}}</td>
                <td><a class="btn btn-primary" href='/repo013_editar/{{repo013.id}}'><i class="bi bi-pencil-fill"></a></td>
                {% for grupo in groups %}
                    {% if grupo.name == 'Administrador'%}
                        <td><a class="btn btn-danger" href='/repo013_eliminar/{{repo013.id}}'><i class="bi bi-trash-fill"></i></a></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>


<div class="" id="botones de paginacion" style="margin-top: 10px; display: flex; justify-content: center">
    <div class="pagination">
        {% if repos013.has_previous %}
        <a class="btn btn-secondary" style="margin: 0px 3px " href="?repo013_buscar={{query}}&page={{ repos013.previous_page_number }}"><i class="bi bi-arrow-left-square"></i> Anterior</a>
        {% endif %}
    
        {% if 4 in repos013.paginator.page_range %}
            {% if page|add:"-1" >= 1 %}
                <a  class="btn btn-secondary" style="margin: 0px 1px" href="?repo013_buscar={{query}}&page={{ page|add:"-1" }}">{{ page|add:"-1" }}</a>
            {%endif%}
                <a  class="btn btn-dark" style="margin: 0px 1px" href="?repo013_buscar={{query}}&page={{ page }}">{{ page }}</a>
            {% if page|add:"1" in repos013.paginator.page_range %}
                <a  class="btn btn-secondary" style="margin: 0px 1px" href="?repo013_buscar={{query}}&page={{ page|add:"1" }}">{{ page|add:"1" }}</a>
            {%endif%}
        {% else %}
            {% for numero in repos013.paginator.page_range %}
            {% if numero == repos013.number %}
                <strong  class="btn btn-dark" style="margin: 0px 1px">{{ numero }}</strong>
            {% else %}
                <a  class="btn btn-secondary" style="margin: 0px 1px" href="?repo013_buscar={{query}}&page={{ numero }}">{{ numero }}</a>
            {% endif %}
            {% endfor %}
        {% endif %}
    
        {% if repos013.has_next %}
        <a  class="btn btn-secondary" style="margin: 0px 3px" href="?repo013_buscar={{query}}&page={{ repos013.next_page_number }}">Siguiente <i class="bi bi-arrow-right-square"></i></a>
        {% endif %}
    </div>

{% else %}
<div class="alert alert-warning text-center container mt-5">No se encuentran datos para la búsqueda {{query}}</div>
{% endif %}
</div>


{% endblock %}