{% extends 'padre/padre.html' %}

{% block title %} TZReport{% endblock %}

{% block content %}

<div class="alert alert-secondary display-6 text-center container mt-5">Menú de Reportes</div>

<br>
<br>

<div class="container mt-5 text-center" style="width: 500px;">
  <h6 class="sidebar-title"><i class="bi bi-search"></i> Búsqueda por Orden de Proceso (OP)</h6>
  <form class="input-group" action="{% url 'buscar_op' %}" method="GET" role="form">
      <input type="text" name="buscar_op" id="" class="form-control" placeholder="Orden de proceso">
      <div class="input-group-addon">
          <input type="submit" class="btn btn-primary"  icons="bi bi-search" value="Buscar">
      </div>
  </form>
</div>

<br>
<br>
<br>

<div class="container mt-5 text-center" style="width: 500px;">
  <h6 class="sidebar-title"><i class="bi bi-search"></i> Búsqueda de los Productos fabricados con un fermento</h6>
  <form class="input-group" action="{% url 'buscar_fermento' %}" method="GET" role="form">
    <input type="text" name="buscar_fermento" id="" class="form-control" placeholder="Fermento">
    <input type="text" name="buscar_lote" id="" class="form-control" placeholder="Lote">
    <div class="input-group-addon">
          <input type="submit" class="btn btn-primary"  icons="bi bi-search" value="Buscar">
      </div>
  </form>
</div>

<br>
<br>
<br>

<div class="container mt-5 text-center" style="width: 500px;">
  <h6 class="sidebar-title"><i class="bi bi-search"></i> Búsqueda Productos por Recorridos</h6>
  <form class="input-group" action="{% url 'buscar_recorrido' %}" method="GET" role="form">
      <input type="text" name="buscar_recorrido" id="" class="form-control" placeholder="Número de guía del recorrido">
      <div class="input-group-addon">
          <input type="submit" class="btn btn-primary"  icons="bi bi-search" value="Buscar">
      </div>
  </form>
</div>

<br>
<br>
<br>
{% endblock %}