{% extends 'padre/padre.html' %}

{% block title %} TZReport{% endblock %}

{% block content %}
<div class="alert alert-secondary display-6 text-center container mt-5">Búsqueda por fecha de RE PO 001</div>


<div class="container mt-5 text-center">
    <p>{{total}} resultado/s para búsqueda de la fecha {{query}} en RE PO 001</p>
</div>


{% if repos001 %}
<div class="table-responsive container mt-5">
    <table class="table table-hover table-bordered table-sm">
        <thead class="table-light align-middle">
            <tr>
                <th>________________________________ Fecha ________________________________</th>
                <th>________________________________ Operador ________________________________</th>
                <th>________________________________ Placa ________________________________</th>
                <th>________________________________ Recorrido ________________________________</th>
                <th>________________________________ TLC ________________________________</th>
                <th>________________________________ Número de guía ________________________________</th>
                <th>________________________________ Sello/s ________________________________</th>
                <th>________________________________ Temperatura leche guia ________________________________</th>
                <th>________________________________ Temperatura leche pool ________________________________</th>
                <th>________________________________ Temperatura leche salida del enfriador ________________________________</th>
                <th>________________________________ Litros del camión ________________________________</th>
                <th>________________________________ Kilo gramos del camión ________________________________</th>
                <th>________________________________ Litros ingresados en SAP ________________________________</th>
                <th>________________________________ Acidez ________________________________</th>
                <th>________________________________ PH ________________________________</th>
                <th>________________________________ Prueba ________________________________</th>
                <th>________________________________ SNAP ________________________________</th>
                <th>________________________________ MG ________________________________</th>
                <th>________________________________ SNG ________________________________</th>
                <th>________________________________ ST ________________________________</th>
                <th>________________________________ Proteina ________________________________</th>
                <th>________________________________ Densidad ________________________________</th>
                <th>________________________________ Color y olor ________________________________</th>
                <th>________________________________ Hora de ingraso a la planta ________________________________</th>
                <th>________________________________ Hora de muestra ________________________________</th>
                <th>________________________________ Hora de inicio de la descarga ________________________________</th>
                <th>________________________________ Hora de termino de la descarga ________________________________</th>
                <th>________________________________ Hora de inicio del aseo ________________________________</th>
                <th>________________________________ Hora de termino del aseo ________________________________</th>
                <th>________________________________ Hora de salida de la planta ________________________________</th>
                <th>________________________________ Kilo gramos del camión en la salida ________________________________</th>
                <th>________________________________ Tipo de aseo ________________________________</th>
                <th>________________________________ Comentario ________________________________</th>
                <th>________________________________ Usuario del registro ________________________________</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for repo001 in repos001 %}
            <tr>
                <td>{{repo001.fecha}}</td>
                <td>{{repo001.operador}}</td>
                <td>{{repo001.placa}}</td>
                <td>{{repo001.recorrido}}</td>
                <td>
                    <ul>
                        {% for tlc in repo001.tlc.all %}
                            <li>{{tlc.nombre}}</li>
                        {% endfor %}
                    <ul>
                </td>
                <td>{{repo001.numero_guia}}</td>
                <td>{{repo001.sello}}</td>
                <td>{{repo001.temperatura_leche_guia}}</td>
                <td>{{repo001.temperatura_leche_pool}}</td>
                <td>{{repo001.temperatura_leche_salida_enfriador}}</td>
                <td>{{repo001.litros_camion}}</td>
                <td>{{repo001.kilo_gramos_camion}}</td>
                <td>{{repo001.litros_sap}}</td>
                <td>{{repo001.acidez}}</td>
                <td>{{repo001.ph_camion}}</td>
                <td>{{repo001.prueba}}</td>
                <td>{{repo001.snap}}</td>
                <td>{{repo001.mg}}</td>
                <td>{{repo001.sng}}</td>
                <td>{{repo001.st}}</td>
                <td>{{repo001.proteina}}</td>
                <td>{{repo001.densidad}}</td>
                <td>{{repo001.color_y_olor}}</td>
                <td>{{repo001.hora_ingreso_a_planta}}</td>
                <td>{{repo001.hora_muestra}}</td>
                <td>{{repo001.hora_inicio_descarga}}</td>
                <td>{{repo001.hora_termino_descarga}}</td>
                <td>{{repo001.hora_inicio_aseo}}</td>
                <td>{{repo001.hora_termino_aseo}}</td>
                <td>{{repo001.hora_salida_planta}}</td>
                <td>{{repo001.kilo_gramos_camion_salida}}</td>
                <td>{{repo001.tipo_aseo_camion}}</td>
                <td>{{repo001.comentario}}</td>
                <td>{{repo001.usuario_del_registro}}</td>
                <td><a class="btn btn-primary" href='/repo001_editar/{{repo001.id}}'><i class="bi bi-pencil-fill"></a></td>
                {% for grupo in groups %}
                    {% if grupo.name == 'Administrador'%}   
                        <td><a class="btn btn-danger" href='/repo001_eliminar/{{repo001.id}}'><i class="bi bi-trash-fill"></i></a></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="" id="botones de paginacion" style="margin-top: 10px; display: flex; justify-content: center">
    <div class="pagination">
        {% if repos001.has_previous %}
        <a class="btn btn-secondary" style="margin: 0px 3px" href="?repo001_buscar={{query}}&page={{ repos001.previous_page_number }}"><i class="bi bi-arrow-left-square"></i> Anterior</a>
        {% endif %}
    
        {% if 4 in repos001.paginator.page_range %}
            {% if page|add:"-1" >= 1 %}
                <a  class="btn btn-secondary" style="margin: 0px 1px" href="?repo001_buscar={{query}}&page={{ page|add:"-1" }}">{{ page|add:"-1" }}</a>
            {%endif%}
                <a  class="btn btn-dark" style="margin: 0px 1px" href="?repo001_buscar={{query}}&page={{ page }}">{{ page }}</a>
            {% if page|add:"1" in repos001.paginator.page_range %}
                <a  class="btn btn-secondary" style="margin: 0px 1px" href="?repo001_buscar={{query}}&page={{ page|add:"1" }}">{{ page|add:"1" }}</a>
            {%endif%}
        {% else %}
            {% for numero in repos001.paginator.page_range %}
            {% if numero == repos001.number %}
                <strong  class="btn btn-dark" style="margin: 0px 1px">{{ numero }}</strong>
            {% else %}
                <a  class="btn btn-secondary" style="margin: 0px 1px" href="?repo001_buscar={{query}}&page={{ numero }}">{{ numero }}</a>
            {% endif %}
            {% endfor %}
        {% endif %}
    
        {% if repos001.has_next %}
        <a  class="btn btn-secondary" style="margin: 0px 3px" href="?repo001_buscar={{query}}&page={{ repos001.next_page_number }}">Siguiente <i class="bi bi-arrow-right-square"></i></a>
        {% endif %}
    </div>

{% else %}
<div class="alert alert-warning text-center container mt-5">No se encuentran datos para la búsqueda {{query}}</div>
{% endif %}
</div>

{% endblock %}